@font-face {
  font-family: "MyFont";
  src: url("./RobotoMono-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}
body {
  height: 100vh;
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  font-family: Myfont;
}
#wrapper {
  height: 100%;
  width: 100%;
  padding: 20px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 100px, repeat(9, 1fr);
}
#sidebar {
  width: 220px;
  grid-column: 1/2;
  border-right: 1.5px solid rgb(129, 125, 125);
  padding-bottom: 5px;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
#sidebar > #sidebarhome {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}
.sidebarDiv {
  margin: 2px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.sidebarDiv:hover {
  cursor: pointer;
  background-color: #d8d2d2;
  -webkit-filter: brightness(80%);
}

#highPriority {
  background-color: #f9a1a1;
}
#mediumPriority {
  background-color: #f0edb5;
}
#lowPriority {
  background-color: #c2ecc4;
}
#sidebar > #sidebarProjects {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}
#sidebarProjects > #projectsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1.5px solid rgb(226, 223, 223);
  box-sizing: border-box;
}
#content {
  grid-column: 2/11;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
}
#content > #contentHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
#tasks {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;
}
#tasks::-webkit-scrollbar {
  width: 0.5em;
}
#tasks::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8a8787;
}

#tasks > .taskDiv {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  margin-bottom: 10px;
  border-bottom: 1.5px solid rgb(226, 223, 223);
  width: 90%;
}
.taskDiv > .taskDivLeft {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.taskDivLeft > .taskDivTitle {
  font-size: 1.5em;
  color: #000000;
  width: 100%;
  font-weight: 600;
}
.taskDivLeft > .taskDivDescription {
  width: 100%;
  font-size: 0.7em;
  color: #504d4d;
}
.taskDiv > .taskDivRight {
  grid-column: 8/10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.taskDivRight > .taskDivPriority {
  color: #000000;
  padding: 2px;
  border-radius: 5px;
  font-size: 0.9em;
  width: fit-content;
}
.taskDivRight > .taskDivDate {
  font-size: 0.8em;
}
.taskDiv > .taskDivButtons {
  grid-column: 10/11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.plusbtn {
  font-family: MyFont;
  border-radius: 25px;
  border: none;
  height: 10px;
  width: fit-content;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 0.6em;
  font-family: MyFont;
  border-radius: 25px;
  border: none;
  height: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover,
.plusbtn:hover {
  cursor: pointer;
  background-color: #fe7171;
}
h3 {
  margin: 0;
}
input {
  font-family: Myfont;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: Myfont;
}
dialog {
  border: none;
  font-family: Myfont;
}
#prioritySelection {
  font-family: Myfont;
}
label {
  font-size: 0.7em;
}
